<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="{{.VersionCode}}"
          android:versionName="{{.VersionName}}"
          package="org.fipress.goui.android"
          platformBuildVersionCode="{{.SdkVersion}}">

    <uses-sdk
            android:minSdkVersion="19" />

    <application
            android:label="{{.Name}}"
            android:debuggable="{{.Debug}}"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".GoUIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>